/* Thumbnail */
.thumbnail-list-container {
  position: relative;
  height: 100%;
}

.thumbnail-list {
  width: 100%;
  transition: 1s ease all;
  padding: 0.5rem;
  top: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(116px, 1fr));
  grid-gap: 1rem;
}

.thumbnail-list-next {
  position: absolute;
  margin-left: 150%;
}

.thumbnail-list-prev {
  position: absolute;
  margin-left: -150%;
}

.thumbnail-card {
  padding: 0.5rem;
  border-radius: 5px;

  width: 100px;
  height: 100px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);

  transition: 0.3s all ease;
  cursor: pointer;
}

.thumbnail-card:hover {
  transform: scale(1.1);
}

.thumbnail-card img {
  /* height: 100%;
  width: 100%; */

  max-width: 100%;
  max-height: 100%;

  /* background-size: 100px; */

  object-fit: contain;
}
